@scope (.divider) {
  :scope {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: var(--space-10);
    animation: fadeIn 1.5s var(--ease-standard) 0.6s both;
    margin-block: var(--space-4);
    color: oklch(from var(--color-base-content) l c h / 0.25);
    opacity: 0.25;
    font-weight: 900;
    font-size: 0.8rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  &::before,
  &::after {
    display: flex;
    flex: 1;
    align-items: center;
    gap: var(--space-10);
    animation: fadeIn 1.5s var(--ease-standard) 0.4s both;
    margin-block: var(--space-4);
    background-color: oklch(from var(--color-base-content) l c h / 0.1);
    height: 1px;
    content: "";
  }
}

@scope (.divider-horizontal) {
  :scope {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-10);
    animation: fadeIn 1.5s var(--ease-standard) 0.6s both;
    margin-inline: var(--space-4);
    align-self: stretch;
    color: black;

    /* 텍스트 위아래의 세로선 */
    &::before,
    &::after {
    animation: fadeIn 1.5s var(--ease-standard) 0.6s both;
      content: "";
      flex: 1;                /* 위아래 남은 공간을 선으로 채움 */
      width: 1px;             /* 선의 두께 (세로선이므로 width 설정) */
      background-color:  oklch(from var(--color-base-content) l c h / 0.1);
  }
}
