@scope (.c-divider) {
  :scope {
    align-self: stretch;
    animation: fadeIn 1.5s var(--ease-standard) 0.6s both;
    margin-block: var(--space-4);
    color: oklch(from var(--color-base-content) l c h / 0.25);
    opacity: 0.25;
    font-weight: 900;
    font-size: 0.8rem;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  &::before,
  &::after {
    animation: fadeIn 1.5s var(--ease-standard) 0.4s both;
    margin-block: var(--space-4);
    background-color: oklch(from var(--color-base-content) l c h / 0.1);
    height: 1px;
    content: "";
  }
}

@scope (.c-divider-v) {
  :scope {
    animation: fadeIn 1.5s var(--ease-standard) 0.6s both;
    margin-inline: var(--space-4);
    align-self: stretch;
    inline-size: 1px;
    background-color: oklch(from var(--color-base-content) l c h / 0.1);
  }
}
