@layer utilities {
  /* --- Typography --- */
  .text-center {
    text-align: center;
  }
  .text-start {
    text-align: start;
  }
  .text-end {
    text-align: end;
  }

  .font-family-base {
    font-family: var(--font-family-base);
  }
  .font-family-heading {
    font-family: var(--font-family-heading);
  }
  .font-family-mono {
    font-family: var(--font-family-mono);
  }

  .font-size-xs {
    font-size: var(--font-size-xs);
  }
  .font-size-sm {
    font-size: var(--font-size-sm);
  }
  .font-size-md {
    font-size: var(--font-size-md);
  }
  .font-size-lg {
    font-size: var(--font-size-lg);
  }
  .font-size-xl {
    font-size: var(--font-size-xl);
  }
  .font-size-xxl {
    font-size: var(--font-size-xxl);
  }

  .font-weight-light {
    font-weight: var(--font-weight-light);
  }
  .font-weight-normal {
    font-weight: var(--font-weight-normal);
  }
  .font-weight-medium {
    font-weight: var(--font-weight-medium);
  }
  .font-weight-semibold {
    font-weight: var(--font-weight-semibold);
  }
  .font-weight-bold {
    font-weight: var(--font-weight-bold);
  }
  .font-weight-black {
    font-weight: var(--font-weight-black);
  }

  .letter-spacing-tighter {
    letter-spacing: var(--letter-spacing-tighter);
  }
  .letter-spacing-widest {
    letter-spacing: var(--letter-spacing-widest);
  }

  .text-uppercase {
    text-transform: uppercase;
  }
  .text-decoration-none {
    text-decoration: none;
  }
}
