.class {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  inset-block-end: var(--bottom, auto);
  inset-block-start: var(--top, auto);
  inset-inline-end: var(--right, auto);
  inset-inline-start: var(--left, auto);
  border-color: var(--color-base-300);
  border-block-end: 1px solid var(--color-base-300);

  inline-size: fit-content;
  font-weight: var(--font-weight-black);
  letter-spacing: (--letter-spacing-tighter);
}
