{% import "macros/helpers.html" as helpers %}
<div class="footer-inner container">
  <div class="footer-brand">
    <a href="/" class="logo">{{ config.title }}</a>
    <p class="description">{{ config.description }}</p>
  </div>

  <nav class="footer-nav">
    <div class="nav-group">
      <h4 class="nav-title">Navigation</h4>
      <ul class="nav-list">
        {{ helpers::footer_item(url="/", text="The Front Page") }}
        {{ helpers::footer_item(url="/insights", text="Insights") }}
        {{ helpers::footer_item(url="/about", text="About the Studio") }}
      </ul>
    </div>

    <div class="nav-group">
      <h4 class="nav-title">Social</h4>
      <ul class="nav-list">
        {{ helpers::footer_item(url=config.extra.github, text="GitHub") }}
        {{ helpers::footer_item(url=config.extra.twitter, text="Twitter") }}
        {{ helpers::footer_item(url=config.extra.linkedin, text="LinkedIn") }}
      </ul>
    </div>
  </nav>

  <div class="footer-bottom">
    <p class="copyright">
      {{ helpers::copyright(name=config.extra.author_name ~ ". All rights reserved.") }}
    </p>
    <div class="footer-meta">
      <span>Built with Zola & Deno</span>
    </div>
  </div>
</div>
