<link rel="stylesheet" href="{{ get_url(path="css/init/properties.css", cachebust=true) }}" />
<link rel="stylesheet" href="{{ get_url(path="css/init/variables.css", cachebust=true) }}" />

<link rel="stylesheet" href="{{ get_url(path="css/base/reset.css", cachebust=true) }}" />
<link rel="stylesheet" href="{{ get_url(path="css/base/base.css", cachebust=true) }}" />
<link rel="stylesheet" href="{{ get_url(path="css/base/font.css", cachebust=true) }}" />

<link rel="stylesheet" href="{{ get_url(path="css/layouts/blueprints.css", cachebust=true) }}" />

<link rel="stylesheet" href="{{ get_url(path="css/components/magazine-card.css", cachebust=true) }}" />

<link rel="stylesheet" href="{{ get_url(path="css/utilities/utilities.css", cachebust=true) }}" />
