{% import "macros/icons.html" as icons %}

<div class="app-speed-dial">
  <div class="dial-items">
    <button id="speed-dial-top" class="dial-item" aria-label="Scroll to Top">{{ icons::top(size=5) }}</button>
    <button id="speed-dial-search" class="dial-item" aria-label="Search">{{ icons::search(size=5) }}</button>
    <label class="dial-item theme-toggle" aria-label="Toggle Theme">
      <input type="checkbox" class="theme-controller" value="dim" />
      <span class="sun-icon">{{ icons::sun(size=5) }}</span>
      <span class="moon-icon">{{ icons::moon(size=5) }}</span>
    </label>
    <button id="speed-dial-random" class="dial-item" aria-label="Random Post">{{ icons::shuffle(size=5) }}</button>
  </div>

  <button id="speed-dial-trigger" class="fab-trigger" aria-label="Toggle Menu">
    <span class="icon-main">{{ icons::lightning(size=6) }}</span>
    <span class="icon-close">{{ icons::minus(size=6) }}</span>
  </button>
</div>

<script>
  window.__POST_LIST__ = [
    {% set section = get_section(path="posts/_index.md") %}
    {% for page in section.pages %}
      "{{ page.permalink | safe }}",
    {% endfor %}
  ];
</script>
<script src="{{ get_url(path='js/speed-dial.js') | safe }}" defer></script>
