@layer blocks {
  @scope (.article-header) {
    :scope {
      display: flex;
      flex-direction: column;
      gap: var(--space-md);
    }

    .meta {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      gap: var(--space-md);
    }

    .title {
      font-size: var(--font-size-xxl);
      font-weight: var(--font-weight-extrabold);
      line-height: var(--font-line-height-xs);
      letter-spacing: var(--letter-spacing-tighter);
    }

    .subtitle {
      font-size: var(--font-size-lg);
      opacity: var(--opacity-80);
      line-height: var(--font-line-height-lg);
    }

    .reading-time {
      opacity: 0.4;
      font-size: var(--font-size-xs);
      font-family: var(--font-family-mono);
      text-transform: uppercase;
    }
  }

  @scope (.featured-image-container) {
    :scope {
      margin-block: var(--space-lg);
      border-radius: var(--border-radius-lg);
      overflow: hidden;
      aspect-ratio: 21 / 9;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
