@scope (.btn) {
  :scope {
    border: var(--border-width-xs) solid var(--color-base-300);
    border-radius: var(--border-radius-md);
    background-color: var(--bg-color, --color-base-300);
    padding-inline: var(--space-md);
    padding-block: var(--space-xs);
    color: var(--fg-color, --color-base-content);
  }
}

@scope (.btn-ghost) {
  :scope {
    border: none;
    background-color: transparent;
  }
}
