@scope (.hero) {
  :scope {}

  .title {
    margin-block-end: var(--space-6);
    background: linear-gradient(
      to bottom,
      var(--color-base-content) 50%,
      oklch(from var(--color-base-content) l c h / 0.2)
    );
    -webkit-background-clip: text;
    padding: 0.05em 0.1em;
    font-weight: 800;
    font-size: var(--text-display);
    line-height: 1.2;
    letter-spacing: -0.05em;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    margin-block-end: var(--space-6);
    background: linear-gradient(
      to bottom,
      var(--color-base-content) 50%,
      oklch(from var(--color-base-content) l c h / 0.2)
    );
    -webkit-background-clip: text;
    padding: 0.05em 0.1em;
    font-weight: 800;
    font-size: var(--text-display);
    line-height: 1.2;
    letter-spacing: -0.05em;
    -webkit-text-fill-color: transparent;
  }
}
