@scope (.hero) {
  :scope {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    background: linear-gradient(
      to bottom,
      var(--color-base-content) 50%,
      oklch(from var(--color-base-content) l c h / 0.2)
    );
    -webkit-background-clip: text;
    padding: 0.05em 0.1em;
    font-weight: var(--font-weight-bold);
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -0.05em;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
  }
}
