@scope (.hero) {
  :scope {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: var(--space-xxl);
    text-align: center;
  }

  & .title {
    margin-block-end: var(--space-md);
    color: var(--color-base-content);
    font-weight: var(--font-weight-bold);
    font-size: clamp(2.5rem, 8dvi, 4.5rem);
    line-height: 1.1;
    letter-spacing: var(--letter-spacing-tighter);
  }

  & .subtitle {
    opacity: var(--opacity-60);
    color: oklch(from var(--color-base-content) l c h / 0.65);
    font-style: italic;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);
    line-height: var(--font-line-height-lg);
    font-family: var(--font-family-base);
    letter-spacing: var(--letter-spacing-tight);
  }
}
