@scope (.post-card) {
  :scope {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: var(--space-md);
    box-shadow: var(--shadow-sm);
    border: var(--border-width-xs) solid var(--border-color-base);
    border-radius: var(--border-radius-xxl);
    background-color: oklch(from var(--color-base-200) l c h / var(--opacity-50));
    padding: var(--space-sm);
  }

  & .image {
    inline-size: 5rem;
    block-size: 5rem;
    object-fit: cover;
  }

  & .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    & .badge {
      opacity: var(--opacity-40);
      background-color: transparent;
      padding: 0;
      color: var(--color-base-content);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-xs);
      letter-spacing: var(--letter-spacing-wider);
      text-transform: uppercase;
    }

    & .title {
      overflow: hidden;
      color: var(--color-base-content);
      font-weight: var(--font-weight-extrabold);
      font-size: var(--font-size-lg);
    }

    & .summary {
      display: none;
    }
  }

  & .action {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: var(--opacity-80);
    border-radius: var(--border-radius-full);
    background-color: var(--color-base-300);
    inline-size: 3rem;
    block-size: 3rem;
    color: var(--color-base-content);
    font-size: var(--font-size-lg);
  }
}
