@scope (.post-card) {
  :scope {
    display: flex;
    position: relative;
    transition: all var(--transition-speed-normal);
    border: var(--border-width-xs) solid var(--border-color-base);
    background-color: var(--color-base-100);
    color: inherit;
    text-decoration: none;
  }

  :scope:hover {
    box-shadow: var(--shadow-lg);
    border-color: var(--color-primary);
  }

  & .title {
    color: var(--color-base-content);
    line-height: var(--font-line-height-xs);
    letter-spacing: var(--letter-spacing-tighter);
  }

  & .summary {
    color: oklch(from var(--color-base-content) l c h / 0.6);
    line-height: var(--font-line-height-md);
  }

  & .action-arrow {
    font-size: var(--font-size-lg);
  }

  /* Exceptions for badges within post-card */
  & .badge[data-type="date"],
  & .badge[data-type="readtime"] {
    border: 1px solid var(--border-color-subtle);
    background-color: transparent;
    color: var(--color-base-content);
    font-size: var(--font-size-xs);
  }

  /* --- [ Mode: List ] --- */
  &[data-layout="main"] {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-xl);
    border-radius: var(--border-radius-lg);
    background-color: oklch(from var(--color-base-content) l c h / 0.015);
    padding-inline: var(--space-lg);
    padding-block: var(--space-xl);

    & :where(.image, .summary, .action-text) {
      display: none;
    }

    & .content {
      flex: 1;
    }

    & .title {
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-lg);
    }
  }

  /* --- [ Mode: Grid ] --- */
  &[data-layout="insights"] {
    flex-direction: column;
    box-shadow: var(--shadow-lg);
    border-radius: var(--border-radius-xl);
    background-color: var(--color-base-200);
    padding: 0;
    overflow: hidden;

    & .image {
      display: block;
      aspect-ratio: 16 / 10;
      width: 100%;
      object-fit: cover;
    }

    & .content {
      padding: var(--space-xl);
    }

    & .title {
      font-weight: var(--font-weight-black);
      font-size: 2.5rem;
      line-height: 1.1;
    }

    & .summary {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      font-size: 1.15rem;
    }

    & .action {
      display: flex;
      justify-content: space-between;
      padding-inline: var(--space-xl);
      padding-block-end: var(--space-xl);
      inline-size: 100%;
      font-weight: var(--font-weight-black);
    }

    & .action-text,
    & .action-arrow {
      display: flex;
    }
  }
}
