@scope (.post-card) {
  :scope {
    display: grid;
    grid-template-rows: 3fr 7fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "content";
    border: 1px solid black;
    border-radius: 1.5rem;
    background-color: var(--color-base-300);
    overflow: hidden;
  }

  .image {
    grid-area: image;
    aspect-ratio: 16 / 9;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 10rem;
    object-fit: cover;
  }

  .content {
    display: flex;
    grid-area: content;
    flex-direction: column;
    gap: var(--space-md, 0.5rem);
    padding: 1rem;
    max-block-size: 10rem;

    .title {
      margin-block-end: var(--space-6);
      background: linear-gradient(
        to bottom,
        var(--color-base-content) 50%,
        oklch(from var(--color-base-content) l c h / 0.2)
      );
      -webkit-background-clip: text;
      padding: 0.05em 0.1em;
      font-weight: 800;
      font-size: var(--text-display);
      line-height: 1.2;
      letter-spacing: -0.05em;
      -webkit-text-fill-color: transparent;
    }

    .summary {
    }

    .footer {
    }
  }
}
