@scope (.post-card) {
  :scope {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "content";
    border: 1px solid black;
    border-radius: 2.5rem;
    overflow: hidden;
  }

  .image {
    grid-area: image;
    aspect-ratio: 16 / 9;
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 10rem;
    object-fit: cover;
  }

  .content {
    display: flex;
    grid-area: content;
    flex-direction: column;
    gap: var(--space-md, 0.5rem);
    padding: 1rem;
    max-block-size: 10rem;

    .badge {
      justify-self: start;
      border-radius: 2.5rem;
      background-color: var(--color-primary);
      padding-inline: 0.75rem;
      padding-block: 0.25rem;
      inline-size: fit-content;
      color: var(--color-primary-content);
    }

    .title {
    }

    .summary {
      flex: 1;
    }

    .footer {
    }
  }
}
