@scope (.separator) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
  opacity: 0.3;
  margin-block: var(--space-xl);
  color: var(--color-base-content);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  letter-spacing: var(--letter-spacing-widest);
  text-transform: uppercase;

  &::before,
  &::after {
    flex: 1;
    background-color: var(--color-base-content);
    block-size: var(--border-width-xs);
    content: "";
  }

  & span {
    flex-shrink: 0;
  }
}
