@scope (.c-btn) {
  :scope {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--color-base-300);
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    color: var(--color-base-content);
    font-weight: 600;

    &:hover {
      background-color: oklch(from var(--color-base-300) calc(l - 0.05) c h);
    }

    &:active {
      transform: scale(0.96);
    }
  }

  &.is-ghost {
    background-color: transparent;
  }

  &.is-circle {
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 0;
    inline-size: 2.5rem;
    block-size: 2.5rem;
  }
}
