@scope (#search_modal) {
  :scope {
    display: flex;
    flex-direction: column;
    transform: scale(0.95) translateY(10px);
    opacity: 0;
    transition-behavior: allow-discrete;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity, transform, display, overlay;
    transition-timing-function: ease-in, ease-in, linear, linear;
    margin: auto;
    inset: 0;
    box-shadow: var(--shadow-3);
    border: none;
    border-radius: 2.5rem;
    background-color: var(--color-base-100);
    inline-size: clamp(40dvw, 60dvw, 80dvw);
    block-size: clamp(20dvh, 30dvh, 80dvh);
  }

  &::backdrop {
    opacity: 0;
    backdrop-filter: blur(0px);
    transition-behavior: allow-discrete;
    transition-duration: 0.3s;
    transition-property: opacity, backdrop-filter, display, overlay;
    transition-timing-function: ease-in, ease-in, linear, linear;
    background-color: oklch(0 0 0 / 0.1);
  }

  &:popover-open {
    transform: scale(1) translateY(0);
    opacity: 1;
    transition-duration: 0.6s;
    transition-timing-function: ease, cubic-bezier(0.34, 1.56, 0.64, 1), linear, linear;

    &::backdrop {
      opacity: 1;
      backdrop-filter: blur(8px);
      transition-duration: 0.6s;
      transition-timing-function: ease, ease, linear, linear;
    }
  }

  & .search-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-3);
    padding: var(--space-5);
    font-size: 1.2rem;

    & input {
      border: none;
      background: transparent;
      inline-size: 100%;

      &::placeholder {
        color: oklch(from var(--color-base-content) l c h / 0.2);
        font-weight: 600;
      }

      &:focus {
        outline: none;
      }
    }
  }

  & .search-results {
    display: flex;
    justify-content: center;
    align-items: center;
    border-block-start: 1px solid var(--color-base-300);
    inline-size: 100%;
    block-size: 100%;
    color: oklch(from var(--color-base-content) l c h / 0.2);
    font-style: italic;
    font-weight: 900;
  }
}
