@scope (.c-theme-toggle ) {
  :scope {
    display: grid;
    place-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  /* input은 숨기되 기능은 유지 */
  & .theme-controller {
    display: none;
  }

  /* 아이콘 공통 설정 */
  & .sun-icon,
  & .moon-icon {
    display: flex;
    grid-area: 1 / 1; /* 같은 그리드 칸에 겹치기 */
    justify-content: center;
    align-items: center;
    transition:
      transform 0.5s var(--ease-standard),
      opacity 0.3s;
  }

  /* 초기 상태 제어 (Checkbox 미체크 시) */
  & .sun-icon {
    transform: rotate(0deg);
    opacity: 1;
  }
  & .moon-icon {
    transform: rotate(90deg);
    opacity: 0;
  }

  /* [핵심] 체크되었을 때(Dim 모드 등) 상태 반전 */
  &:has(.theme-controller:checked) {
    & .sun-icon {
      transform: rotate(-90deg);
      opacity: 0;
    }
    & .moon-icon {
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  /* 호버 시 부드러운 배경색 피드백 */
  &:hover {
    background-color: var(--color-base-300);
  }
}
