<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style.css" />
<link rel="stylesheet" href="/assets/js/htmx.min.js" />

<!-- deno-fmt-ignore -->
<script type="speculationrules">
{
  "prefetch": [
    {
      "source": "list",
      "urls": ["/posts", "/about"]
    }
  ]
}
</script>

<script src="/assets/js/htmx.min.js">
</script>

<title>{{ title }} - The Blog</title>
