@scope (.badge) {
  :scope {
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    font-size: var(--font-size-xs);
    color: var(--color-base-content);
    background-color: transparent;
    border: 1px solid var(--border-color-subtle);
    border-radius: 2.5rem;
  }
}
