@scope (.post-card) {
  :scope {
    position: relative;
    display: flex;
    color: inherit;
    text-decoration: none;
    background-color: var(--color-base-100);
    border: var(--border-width-xs) solid var(--border-color-base);
    transition: all var(--transition-speed-normal);
  }

  :scope:hover {
    border-color: var(--color-primary);
    box-shadow: var(--shadow-lg);
  }

  & .title {
    line-height: var(--font-line-height-xs);
    color: var(--color-base-content);
    letter-spacing: var(--letter-spacing-tighter);
  }

  & .summary {
    line-height: var(--font-line-height-md);
    color: oklch(from var(--color-base-content) l c h / 60%);
  }

  & .action-arrow {
    font-size: var(--font-size-lg);
  }

  /* Exceptions for badges within post-card */
  & .badge[data-type="featured"] {
    color: var(--color-base-100);
    background-color: var(--color-base-content);
  }

  /* --- [ Mode: List ] --- */
  &[data-layout="minimal"] {
    flex-direction: row;
    gap: var(--space-xl);
    align-items: center;
    justify-content: space-between;
    padding-block: var(--space-xl);
    padding-inline: var(--space-lg);
    background-color: oklch(from var(--color-base-content) l c h / 1.5%);
    border-radius: var(--border-radius-lg);

    & :where(.image, .summary, .action-text) {
      display: none;
    }

    & .content {
      flex: 1;
    }

    & .title {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-normal);
    }
  }

  /* --- [ Mode: Grid ] --- */
  &[data-layout="expanded"] {
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-base-200);
    border-radius: var(--border-radius-xl);
    box-shadow: var(--shadow-lg);

    & .image {
      display: block;
      width: 100%;
      aspect-ratio: 16 / 10;
      object-fit: cover;
    }

    & .content {
      padding: var(--space-xl);
    }

    & .title {
      font-size: 2.5rem;
      font-weight: var(--font-weight-black);
      line-height: 1.1;
    }

    & .summary {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 4;
      font-size: 1.15rem;
      -webkit-box-orient: vertical;
    }

    & .action {
      display: flex;
      justify-content: space-between;
      inline-size: 100%;
      padding-block-end: var(--space-xl);
      padding-inline: var(--space-xl);
      font-weight: var(--font-weight-black);
    }

    & .action-text,
    & .action-arrow {
      display: flex;
    }
  }
}
