@import "tailwindcss";

@source "../templates/**/*.html";
@source "../content/**/*.md";

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs";

@plugin "./daisyui-theme.mjs" {
  themes: all;
}