.btn {
  --btn-bg: var(transparent, --color-base-100);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-lg);
  background-color: var(--btn-bg);
  padding-inline: var(--space-3);
  block-size: var(--space-10);
  overflow: hidden;
  color: var(--color-base-content);
  font-weight: 700;
  font-size: var(--text-md);
  font-family: var(--font-sans);
  text-decoration: none;

  &:hover {
    background-color: var(--color-base-300);
  }
}

.btn-circle {
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0;
  aspect-ratio: 1/1;
  inline-size: 2.5rem;
}

.anchor {
  transition: all 0.4s var(--ease-standard);
  color: var(--color-base-content);
  font-weight: 500;
  font-size: var(--text-md);
  letter-spacing: -0.05em;

  &:hover {
    transform: scale(1.05);
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.96);
  }
}

.theme-toggle {
  /* 단일 테마 스위처 유틸리티 */
  display: grid;
  place-items: center; /* 자식 요소들을 중앙 정렬 */
  transition: background-color 0.3s;
  cursor: pointer;

  /* input은 숨기되 기능은 유지 */
  & .theme-controller {
    display: none;
  }

  /* 아이콘 공통 설정 */
  & .sun-icon,
  & .moon-icon {
    display: flex;
    grid-area: 1 / 1; /* 같은 그리드 칸에 겹치기 */
    justify-content: center;
    align-items: center;
    transition:
      transform 0.5s var(--ease-standard),
      opacity 0.3s;
  }

  /* 초기 상태 제어 (Checkbox 미체크 시) */
  & .sun-icon {
    transform: rotate(0deg);
    opacity: 1;
  }
  & .moon-icon {
    transform: rotate(90deg);
    opacity: 0;
  }

  /* [핵심] 체크되었을 때(Dim 모드 등) 상태 반전 */
  &:has(.theme-controller:checked) {
    & .sun-icon {
      transform: rotate(-90deg);
      opacity: 0;
    }
    & .moon-icon {
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  /* 호버 시 부드러운 배경색 피드백 */
  &:hover {
    background-color: var(--color-base-300);
  }
}
