.app-shell {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.app-shell > header {
  position: sticky;
  z-index: 10;
  container-name: nav-shell;
  container-type: inline-size;
  inset-block-start: 0;
}

.app-shell > main {
  flex: 1;
}

.app-shell > footer {
  margin-block-start: auto;
}
