@scope (.category-list-page) {
  :scope {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--space-20);
    margin-inline: auto;
    padding-inline: 1.25rem;
    max-inline-size: 80rem;
  }

  & .category-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    inline-size: 100%;
  }

  @media (width >= 48rem) {
    & .category-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (width >= 75rem) {
    & .category-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@scope (.category-single-page) {
  :scope {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: var(--space-20);
    margin-inline: auto;
    padding-inline: 1.25rem;
    max-inline-size: 80rem;
  }

  & .back-nav {
    margin-block-end: 3rem;

    & .back-link {
      display: inline-flex;
      align-items: center;
      gap: 0.75rem;
      opacity: 0.4;
      transition: all 0.3s;
      color: inherit;
      font-weight: 900;
      font-size: 0.75rem;
      letter-spacing: 0.15em;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        transform: translateX(-4px);
        opacity: 1;
        color: var(--color-primary);
      }
    }
  }

  & .page-header {
    display: grid;
    justify-items: center;
    margin-block-start: 1rem;
    margin-block-end: 5rem;
    text-align: center;

    & h1 {
      margin-block-end: 1.5rem;
      background: linear-gradient(
        to bottom,
        var(--color-base-content) 50%,
        oklch(from var(--color-base-content) l c h / 0.2)
      );
      -webkit-background-clip: text;
      padding: 0.05em 0.1em;
      font-weight: 800;
      font-size: clamp(3.5rem, 8vw, 6rem);
      line-height: 1.2;
      letter-spacing: -0.05em;
      -webkit-text-fill-color: transparent;
    }

    & p {
      max-inline-size: 35rem;
      color: oklch(from var(--color-base-content) l c h / 0.5);
      font-style: italic;
      font-size: clamp(1.1rem, 2vw, 1.5rem);
      line-height: 1.4;
    }
  }

  & .post-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 4rem 2.5rem;
    margin-block-end: 5rem;
  }

  @media (width >= 48rem) {
    & .post-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (width >= 75rem) {
    & .post-grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
