@scope (.app-posts) {
  :scope {
    display: grid;
    gap: var(--space-20);
    container-name: grid-posts;
    container-type: inline-size;
    margin-inline: auto;
    padding-inline: var(--page-padding);
    padding-block-end: var(--space-20);
    max-inline-size: var(--container-width);
  }

  & .app-posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: var(--space-16) var(--space-12);
    animation: fadeInUp 1s var(--ease-standard) 0.4s both;

    @container grid-posts (width < 48rem) {
      grid-template-columns: 1fr;
      gap: var(--space-12);
    }
  }
}
