@scope (.app-speed-dial) {
  :scope {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 60;
    inset-block-end: 2rem;
    inset-inline-end: 2rem;
  }

  .fab-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    box-shadow: var(--shadow-2);
    border: none;
    border-radius: 50%;
    background-color: var(--color-base-content);
    inline-size: 4rem;
    block-size: 4rem;
    color: var(--color-base-100);

    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.95);
    }

    .icon-close {
      display: none;
    }
  }

  &.open .fab-trigger {
    .icon-main {
      display: none;
    }
    .icon-close {
      display: flex;
    }
  }

  .dial-item {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    opacity: 0;
    cursor: pointer;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
    border: 1px solid oklch(from var(--color-base-content) l c h / 0.05);
    border-radius: 50%;
    background-color: var(--color-base-100);
    inline-size: 3.5rem;
    block-size: 3.5rem;
    pointer-events: none;
    color: var(--color-base-content);
    --tx: 0px;
    --ty: 0px;
    transform: translate(0, 0) scale(0);
    z-index: 1;
    transition:
      opacity 0.3s ease,
      transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &.open .dial-item {
    transform: translate(var(--tx), var(--ty)) scale(1);
    opacity: 1;
    pointer-events: auto;

    &:hover {
      transform: translate(var(--tx), var(--ty)) scale(1.1);
      transition: transform 0.2s ease;
      background-color: var(--color-base-200);
    }
  }

  .dial-item:nth-child(1) {
    --tx: -5.5rem;
    --ty: 0;
    transition-delay: 0.05s;
  }
  .dial-item:nth-child(2) {
    --tx: -4.8rem;
    --ty: -4.8rem;
    transition-delay: 0.1s;
  }
  .dial-item:nth-child(3) {
    --tx: -2.2rem;
    --ty: -8.5rem;
    transition-delay: 0.15s;
  }
  .dial-item:nth-child(4) {
    --tx: 1.8rem;
    --ty: -10.5rem;
    transition-delay: 0.2s;
  }

  .theme-toggle {
    padding-inline: 0;
    padding-block: 0;
    overflow: hidden;
    & input {
      display: none;
    }
    & .sun-icon,
    & .moon-icon {
      position: absolute;
      transition:
        transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity 0.3s;
    }
    & .moon-icon {
      transform: rotate(-90deg) scale(0.5);
      opacity: 0;
    }
    & input:checked ~ .sun-icon {
      transform: rotate(90deg) scale(0.5);
      opacity: 0;
    }
    & input:checked ~ .moon-icon {
      transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
}
