@scope (.c-tag-pill) {
  :scope {
    transition: all 0.4s var(--ease-standard);
    border: 1px solid oklch(from var(--color-base-content) l c h / 0.08);
    border-radius: 999px;
    background-color: var(--color-base-100);
    padding: 1rem 1.75rem;
    color: inherit;
    text-decoration: none;

    &:hover {
      transform: translateY(-4px) scale(1.05);
      box-shadow: var(--shadow-3);
      border-color: transparent;
      background-color: var(--color-base-content);
      color: var(--color-base-100);

      & .hash {
        opacity: 0.5;
        color: inherit;
      }
      & .count {
        background-color: oklch(from var(--color-base-100) l c h / 0.2);
        color: inherit;
      }
    }
  }

  & .hash {
    opacity: 0.2;
    transition: all 0.3s;
    font-weight: 900;
  }

  & .name {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: -0.01em;
  }

  & .count {
    transition: all 0.3s;
    border-radius: 999px;
    background-color: var(--color-base-200);
    padding: 0.25rem 0.6rem;
    font-weight: 800;
    font-size: 0.7rem;
  }
}
