@import "tailwindcss";

html {
  overflow-y: scroll;
}

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-sans: "Outfit", sans-serif;
}

#main-content {
  view-transition-name: content;
}

::view-transition-old(content),
::view-transition-new(content) {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

::view-transition-old(content) {
  animation-name: fade-out;
}

::view-transition-new(content) {
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
