@import "tailwindcss";

html {
  overflow-y: scroll;
}

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-sans: "Outfit", sans-serif;
}

/* View Transitions */
.navbar {
  view-transition-name: navbar;
}

footer {
  view-transition-name: footer;
}

/* root 트랜지션만으로 부드럽게 전체 전환 (네비바/푸터 제외) */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.2s;
}
