@import "tailwindcss";
@import "./base.css";
@import "./transitions.css";
@import "./syntax.css";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-sans: "Outfit", sans-serif;
}
