.frame {
  aspect-ratio: var(--ratio, 16 / 9);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.frame > img,
.frame > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
