.reel {
  display: flex;
  gap: var(--gap, var(--space-md));
  block-size: auto;
  overflow: auto hidden;
  scrollbar-width: none;
}

.reel::-webkit-scrollbar {
  display: none;
}

.reel > * {
  flex: 0 0 auto;
}

.reel img {
  flex-basis: auto;
  inline-size: auto;
  block-size: 100%;
}
