.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--space-md));
  align-items: flex-start;
  container-type: inline-size;
}

.sidebar > :first-child {
  flex-basis: var(--side-width, 20ch);
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--main-min, 50%);
}
