.stack {
  display: flex;
  flex-direction: column;
  justify-content: var(--justify, flex-start);
  align-items: var(--align, stretch);
  text-align: var(--text-align, start);
  gap: var(--gap, var(--space-md));
  container-type: inline-size;
}
