.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--space-md));
  container-type: inline-size;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold, 30rem) - 100%) * 999);
}
