.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--space-md));
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold, 30rem) - 100%) * 999);
}

/* Exceptions: Systematized Gap */
.switcher[data-gap="xs"] {
  --gap: var(--space-xs);
}
.switcher[data-gap="sm"] {
  --gap: var(--space-sm);
}
.switcher[data-gap="md"] {
  --gap: var(--space-md);
}
.switcher[data-gap="lg"] {
  --gap: var(--space-lg);
}
