@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@layer base {
  :root {
    --font-serif: 'Inter', sans-serif; /* We'll use bold Sans instead of Serif for Labs */
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
  }
}
