{% import "macros/icons.html" as icons %}
{% import "macros/head.html" as head %}
{% import "macros/components.html" as ui %}

<!doctype html>
<html lang="en" data-theme="lofi">
  <head>
    {{ head::link() }}
    {{ head::script() }}
    {% set current_url = current_url | default(value=config.base_url) %}
    {{ head::seo(page=page | default(value=false), section=section | default(value=false), config=config, current_url=current_url) }}
  </head>

  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>

    <div class="app-shell">
      <header>{{ ui::app_navbar(config=config) }}</header>
      <main id="main-content">{% block content %}{% endblock content %}</main>
      <footer class="app-footer">{{ ui::app_footer(config=config) }}</footer>
    </div>

    <div class="widgets">
      {{ ui::search_modal() }}
      {{ ui::share_modal() }}
      {{ ui::speed_dial() }}
    </div>

    <script src="{{ get_url(path='/search_index.en.js') | safe }}" defer></script>
    <script src="{{ get_url(path='js/main.js') | safe }}" defer></script>
    <script src="{{ get_url(path='js/speed-dial.js') | safe }}" defer></script>
    <script src="{{ get_url(path='js/search.js') | safe }}" defer></script>
  </body>
</html>
