{% extends "base.html" %}
{% import "macros/icons.html" as icons %}
{% import "macros/image.html" as image_macros %}

{% block content %}
  <div class="l-container l-stack u-gap-20 u-py-20" style="padding-block-end: 10rem;">
    <header class="c-hero-title l-stack u-items-center u-text-center">
      <h1>{{ config.extra.hero_title }}</h1>
      <p>{{ config.extra.hero_subtitle }}</p>
    </header>

    <div class="c-divider l-cluster u-justify-center u-gap-10">Latest Records</div>

    <section class="c-post-list l-stack u-gap-8" aria-label="Latest Posts" style="container-type: inline-size;">
      {% set blog_section = get_section(path="posts/_index.md") %}
      {% for page in blog_section.pages | slice(end=10) %}
        {% include "partials/post-card.html" %}
      {% endfor %}
    </section>
  </div>
{% endblock content %}
