{% extends "base.html" %} {% import "macros/components/post-card.html" as
post_card %} {% import "macros/components/hero.html" as hero %} {% block content
%}
<div id="insights-page" class="container stack">
  {{ hero::view(title=section.title, subtitle=section.description |
  default(value="Archive of all records and thoughts.")) }}

  <div class="separator">
    <span>ARCHIVE</span>
  </div>

  <div class="grid" style="--min: 350px">
    {% for post in section.pages %} {% if post.extra.image %} {% if
    post.extra.image is starting_with("http") or post.extra.image is
    starting_with("/") %} {% set post_img = post.extra.image %} {% else %} {%
    set post_img = post.permalink ~ post.extra.image %} {% endif %} {% else %}
    {% set post_img = "/images/sample.png" %} {% endif %} {{ post_card::view(
    img=post_img, date=post.date | date(format="%B %d, %Y") | upper,
    title=post.title, summary=post.description | default(value=post.summary) |
    default(value=""), url=post.permalink, layout="expanded") }} {% endfor %}
  </div>
</div>
{% endblock content %}
