{% extends "base.html" %} {% block title %}{{ section.title }} | {{ config.title
}}{% endblock title %} {% block content %}

<main>
  <!-- Main Content Layout -->
  <div class="max-w-6xl mx-auto px-4">
    <!-- Header Section -->
    <div class="prose max-w-none mb-8 text-center">
      <h1>{{ section.title }}</h1>
    </div>
    <!-- Posts Column -->
    <section class="w-full">
      <!-- Grid Section -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for page in paginator.pages %} {% include "partials/post_card.html"
        %} {% endfor %}
      </div>

      <!-- Pagination -->
      <nav class="mt-12" aria-label="Pagination">
        {% include "partials/pagination.html" %}
      </nav>
    </section>
  </div>
</main>

{% endblock content %}
