{% extends "base.html" %} {% block title %}{{ section.title }} | {{ config.title }}{% endblock title %} {% block content
%}

<main>
  <!-- Main Content Layout -->
  <div class="max-w-4xl mx-auto">
    <!-- Header Section -->
    <div class="prose max-w-none mb-8 text-center">
      <h1>{{ section.title }}</h1>
    </div>
    <!-- Posts Column -->
    <section class="w-full">
      <!-- List Section -->
      <div class="flex flex-col">
        {% for page in paginator.pages %} {% include "partials/post_list_item.html" %} {% endfor %}
      </div>

      <!-- Pagination -->
      <nav class="mt-12" aria-label="Pagination">
        {% include "partials/pagination.html" %}
      </nav>
    </section>
  </div>
</main>

{% endblock content %}