{% extends "base.html" %}

{% block content %}
<main class="u-container" style="padding-block: var(--ui-space-xl)">
    <header style="margin-block-end: var(--ui-space-lg);">
        <h1 class="u-text-serif" style="font-size: var(--fs-xl);">{{ section.title }}</h1>
    </header>

    <section class="l-blueprint l-grid" style="--gap: var(--ui-space-lg); --ui-grid-min: 320px;">
        {% for page in section.pages %}
            <div style="--area: auto;">
                {% include "partials/c-magazine-card.html" %}
            </div>
        {% endfor %}
    </section>
</main>
{% endblock content %}
