{% extends "base.html" %} {% block content %}
<div class="max-w-4xl mx-auto text-center">
  <div class="prose max-w-none mb-12">
    <h1>{{ taxonomy.name | capitalize }}</h1>
  </div>

  <div class="flex flex-wrap justify-center gap-4 px-4 max-w-4xl mx-auto">
    {% for term in terms %}
    <a
      href="{{ term.permalink }}"
      class="btn btn-outline btn-lg rounded-full normal-case text-lg font-normal hover:btn-primary transition-all"
    >
      {{ term.name }}
      <span class="badge badge-sm badge-flat ml-1"
      >{{ term.pages | length }}</span>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
