{% macro post_card(img, badge, title, summary, url, is_featured=false) %}
  <a href="{{ url }}" class="post-card {% if is_featured %}-featured{% endif %}">
    <div class="image-wrapper">
      <img src="{{ img }}" class="image" />
      <div class="fab">{{ icons::lightning(size=6) }}</div>
    </div>
    <div class="content">
      <div class="badge-featured">FEATURED</div>
      <div class="badge-date">{{ badge }}</div>
      <h2 class="title">{{ title }}</h2>
      <p class="summary">{{ summary }}</p>
      
      <div class="footer">
        <span class="action-text">KEEP READING</span>
        <div class="arrow-circle">→</div>
      </div>
    </div>
  </a>
{% endmacro %}
