{% macro post_card(img, badge, title, summary, url, id="", reading_time=0, is_featured=false) %}
  <a href="{{ url }}" class="post-card {% if is_featured %}-featured{% endif %}">
    <div class="image-wrapper">
      <img src="{{ img }}" class="image" {% if id %}style="view-transition-name: img-{{ id }}"{% endif %} />
      <div class="fab">{{ icons::lightning(size=6) }}</div>
    </div>
    <div class="content">
      <div class="badge-featured">FEATURED</div>
      <div class="cluster" style="--gap: var(--space-md); justify-content: space-between; width: 100%;">
        <div class="badge-date">{{ badge }}</div>
        {% if reading_time > 0 %}
          <div class="badge-date" style="opacity: 0.5;">{{ reading_time }} MIN READ</div>
        {% endif %}
      </div>
      <h2 class="title" {% if id %}style="view-transition-name: title-{{ id }}"{% endif %}>{{ title }}</h2>
      <p class="summary">{{ summary }}</p>
    </div>
    <div class="footer">
      <span class="action-text">KEEP READING</span>
      <div class="arrow-circle">→</div>
    </div>
  </a>
{% endmacro %}
