@scope (.center) {
  :scope {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@scope (.center-column) {
  :scope {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@scope (.center-intrinsic) {
  :scope {
    display: grid;
    place-items: center;
  }
}
