@scope (.center) {
  :scope {
    display: flex;
    justify-content: center;
    align-items: center;

    --is-center: 1;
  }
}

@scope (.center-column) {
  :scope {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    --is-center-column: 1;
  }
}

@scope (.center-intrinsic) {
  :scope {
    display: grid;
    place-items: center;

    --is-center-intrinsic: 1;
  }
}
