.cover {
  display: flex;
  flex-direction: column;
  min-block-size: var(--min-height, 100dvb);
  padding: var(--gap, var(--space-md));
}

.cover > * {
  margin-block: var(--gap, var(--space-md));
}

.cover > :first-child:not(.centered) {
  margin-block-start: 0;
}

.cover > :last-child:not(.centered) {
  margin-block-end: 0;
}

.cover > .centered {
  margin-block: auto;
}
