.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--space-md));
}

.sidebar > :first-child {
  flex-basis: var(--side-width, 20rem);
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--content-min-width, 50%);
}
