@scope (.switcher) {
  :scope {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, var(--space-md));
  }

  :scope > * {
    flex-grow: 1;
    flex-basis: calc((var(--threshold, 40rem) - 100%) * 999);
  }
}
