@scope (.wrapper) {
  :scope {
    margin-inline: auto;
    max-inline-size: 1100px;
    padding-inline: var(--space-md);

    --is-wrapper: 1;
  }

  @media (min-width: 1440px) {
    :scope {
      max-inline-size: 1300px;
    }
  }
}
