html {
  scrollbar-color: oklch(from var(--color-base-content) l c h / 0.2) transparent;
  scrollbar-gutter: stable;
  scrollbar-width: none;
}

body {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  font-family: var(--font-sans);
}

/* Scroll lock when popover is open */
/* body:has(:popover-open) { */
/* overflow: hidden; */
/* } */
