@layer reset, base, components, utilities;

/* --- [ Base Layers ] --- */
@import "variables.css" layer(base);
@import "reset.css" layer(reset);
@import "base.css" layer(base);
@import "font.css" layer(base);
@import "motion.css" layer(base);

/* --- [ Layout & Utilities ] --- */
@import "layout.css" layer(utilities);
@import "utilities.css" layer(utilities);

/* --- [ Components ] --- */
@import "components/elements.css" layer(components);
@import "components/actions.css" layer(components);
@import "components/navigation.css" layer(components);
@import "components/data-display.css" layer(components);

/* --- [ Special Rules ] --- */
@import "scopes.css" layer(components);
@import "states.css";
