@layer reset, base, layout, components, utilities;

/* --- [ Base Layers ] --- */
@import "variables.css" layer(base);
@import "reset.css" layer(reset);
@import "base.css" layer(base);
@import "font.css" layer(base);
@import "motion.css" layer(base);

/* --- [ Layout ] --- */
@import "layout.css" layer(layout);

/* --- [ Components ] --- */
@import "components/elements.css" layer(components);
@import "components/actions.css" layer(components);
@import "components/navigation.css" layer(components);
@import "components/data-display/post-detail.css" layer(components);
@import "components/data-display/post-card.css" layer(components);
@import "components/data-display/category-card.css" layer(components);
@import "components/data-display/tag-pill.css" layer(components);

/* --- [ Special Rules & Utilities ] --- */
@import "scopes.css" layer(components);
@import "utilities.css" layer(utilities);
@import "states.css"; /* States are kept outside or in a high-priority layer to ensure overrides */
