:where(*, *::before, *::after) {
  box-sizing: border-box;
}

:where(*) {
  margin: 0;
  padding: 0;
}

:where(html) {
  scroll-behavior: smooth;
}

:where(body) {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-block-size: 100vh;
  overflow-x: hidden;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-inline-size: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  overflow-wrap: break-word;
}

:where(p) {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

:where(#root, #__next) {
  isolation: isolate;
}

:where(ul, ol) {
  list-style: none;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}
