@scope (.btn) {
  :scope {
    padding-block: var(--space-xs);
    padding-inline: var(--space-md);
    color: var(--fg-color, --color-base-content);
    background-color: var(--bg-color, --color-base-300);
    border: var(--border-width-xs) solid var(--color-base-300);
    border-radius: var(--border-radius-md);
  }

  &.btn-ghost {
    background-color: transparent;
    border: none;
  }

  &.btn-circle {
    padding-block: var(--space-sm);
    padding-inline: var(--space-sm);
    color: var(--color-base-100);
    background-color: var(--color-base-content);
    border-radius: var(--border-radius-full);
  }
}
