<div
  style="border-top: 1px solid var(--border-color); margin-block: var(--space-xl); display: flex; align-items: center; justify-content: center"
>
  {{ if text }}
    <span
      style="font-size: 0.65rem; font-weight: 800; letter-spacing: 0.3em; opacity: 0.2; background: var(--color-base-100); padding-inline: var(--space-md); margin-top: -0.5rem; text-transform: uppercase"
    >
      {{ text }}
    </span>
  {{ /if }}
</div>
