<!DOCTYPE html>
<html lang="en">
  <head>
    {{ include "layouts/head.vto" }}
  </head>

  <body>
    <header id="site-header">
      {{
        await comp.navbar({
          img: "/assets/images/hero.svg",
          layout: "minimal",
        })
      }}
    </header>

    <main
      class="container [ stack ]"
      data-gap="xl"
    >
      {{ content }}
    </main>

    <footer class="site-footer" data-layout="main">
      {{ include "layouts/footer.vto" }}
    </footer>

    <div id="site-widget">
      <!-- speed_dial -->
    </div>
  </body>
</html>
