html {
  scrollbar-color: oklch(from var(--color-base-content) l c h / 0.2) transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  overflow-x: hidden;
  min-block-size: 100vh;
}

/* Scroll lock when popover is open */
body:has(:popover-open) {
  overflow: hidden;
}
