*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

:is(img, picture, video, canvas, svg) {
  display: block;
  max-inline-size: 100%;
}

:is(input, button, textarea, select) {
  font: inherit;
}

:is(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:is(ul, ol) {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
