@import "tailwindcss";
@import "../static/fonts/index.css";
@import "./base.css";
@import "./transitions.css";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: lofi, dim;
}

@theme {
  --font-sans: "Outfit Variable", sans-serif;
}