/* Sizing & Display Helpers */
.w-full {
  inline-size: 100%;
}
.h-full {
  block-size: 100%;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

/* Visibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
